@import '/src/utils/utils';

.background {
  width: 100vw;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 #{28.4 / $font-size}rem;
  margin-top: 3rem;

  .wrapper {
    width: 100%;
    max-width: 1220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
}
