@import '/src/utils/utils';

.main-content-grid {
  padding: 0 2.4rem;
  display: grid;
  column-gap: 8rem;
  row-gap: 4rem;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(auto, 500px));
  grid-template-rows: 100px;
  grid-auto-rows: auto;
  @media screen and (max-width: 970px) {
    grid-template-columns: repeat(1, minmax(auto, 500px));
  }
  @include mobile {
    grid-template-rows: 50px;
  }

  .main-content-header {
    margin-top: 3.5rem;
    grid-column: 1 / -1;
    max-width: 36rem;
    @include mobile {
      margin-top: 3rem;
    }
  }
}
