@import './utils/utils';

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: $black;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: $white;
  overflow: auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
