@import '../../../../utils/_utils';

.text {
  font-size: 1rem;
  font-weight: 400;
  color: $black;
}

.xs {
  font-size: 0.75rem;
}

.s {
  font-size: 0.875rem;
}

.m {
  font-size: 1rem;
}

.lg {
  font-size: 1.25rem;
}

.xlg {
  font-size: 1.5rem;
}

.txlg {
  font-size: 1.75rem;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  color: $black;
}

.green {
  color: $deep-green;
}

.white {
  color: $white;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}
