@import '/src/utils/utils';

.dropdown-wrapper {
    width: #{280/$font-size}rem;
    background-color: $white;
    border: 1px solid $gray-white;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    @include mobile {
        width: 19rem;
    }
}