@import '/src/utils/utils';

.score-preview-wrapper {
  display: flex;
  max-width: #{700 / $font-size}rem;
  justify-content: space-between;
  img {
    width: #{340 / $font-size}rem;
    height: #{500 / $font-size}rem;
    object-fit: cover;
  }
}
