@import '/src/utils/utils';
.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba($gray, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;

    .loading {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;

      .loading-spinner {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }

    .title {
      display: inline-block;
      text-align: center;
      margin-bottom: 1rem;
    }

    .closebtn {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
      }
    }
    .body {
      flex: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      text-align: center;
      text-align: center;
      margin-bottom: 1rem;
    }

    .footer {
      flex: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 150px;
        height: 45px;
        margin: 10px;

        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
