@import '../../../../utils/utils';

.userAuth {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 2px solid $gray-white;
  border-radius: 1.5rem;
  align-items: center;
}
.userAuth__logo {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
