@import '/src/utils/utils';

.wrapper {
  width: auto;
  margin-bottom: 2rem;

  .text {
    margin-bottom: 2rem;
  }

  .editor {
    width: 39.75rem;
    max-height: 20rem;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 240px;
    }
  }
}

:global {
  .ql-editor {
    height: 15rem;
    @include mobile {
      height: auto;
    }
  }
}
