.wrapper {
  width: 40rem;
  height: 100%;
  margin-bottom: 8rem;
  .text {
    margin-bottom: 2rem;
  }

  .editor {
    width: 37.5rem;
    height: 20vh;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
