@import '/src/utils/utils';

.cart-footer {
  box-shadow: 0 0 1rem $light-gray;
  border: 1px solid $light-gray;
  height: #{100 / $font-size}rem;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1.75rem;
  }

  button {
    margin-right: 1.75rem;
    height: 2.5rem;
    width: 15rem;
  }
}
