.wrapper {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;

  .container {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .dropdown-wrapper {
      display: flex;
      margin-bottom: 2rem;
      .dropdown-right {
        display: flex;
        margin-left: 2rem;
        flex-direction: column;
        margin-left: none;
      }
    }
  }
}
