.wrapper {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 2rem;

  nav {
    position: sticky;
    width: 25%;
    height: 100%;
    border-left: 1px solid #d9d9d9;
    background-color: #fafafa;
    top: 4.4rem;
  }

  .container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .dropdown-wrapper {
      display: flex;
      margin-bottom: 2rem;
      .dropdown-right {
        display: flex;
        margin-left: 2rem;
        flex-direction: column;
        margin-left: none;
      }
    }
  }
}
