@import '/src/utils/utils';

@mixin img-shape($class) {
  @if ($class == 'round') {
    &.#{$class} {
      border-radius: 50%;
    }
  } @else if ($class == 'square') {
    &.#{$class} {
      border-radius: 10%;
    }
  }
}

@mixin img-size($class) {
  @if ($class == 'lg') {
    &.#{$class} {
      width: 14.25rem;
      height: 14.25rem;
    }
  } @else if ($class == 'm') {
    &.#{$class} {
      width: 6.25rem;
      height: 6.25rem;
    }
  } @else if ($class == 's') {
    &.#{$class} {
      width: 3.125rem;
      height: 3.125rem;
    }
  } @else if ($class = 'responsive') {
    &.#{$class} {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;

      img{
        position: absolute;
        top: 0;
        left: 0;
      }
    }
   }
}

.img-cover {
  background: $gray;
  overflow: hidden;
  @include img-shape('round');
  @include img-shape('square');
  @include img-size('lg');
  @include img-size('m');
  @include img-size('s');
  @include img-size('responsive');
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
