@import '/src/utils/utils';

@mixin icon-size($class, $size) {
    &.#{$class} {
        svg {
            display: block;
            width: #{$size/$font-size}rem;
            height: auto;
        }
    }
};

@mixin icon-color($class, $color) {
    &.#{$class} {
        svg {
            fill: $color;
        }
    }
};

.icon-container {
    display: inline-block;

    @include icon-size('xl', 50);
    @include icon-size('l', 40);
    @include icon-size('m', 30);
    @include icon-size('s', 25);
    @include icon-size('xs', 20);

    @include icon-color('black', $black);
    @include icon-color('gray', $gray);
    @include icon-color('green', $deep-green);
    @include icon-color('lightgray', $light-gray);
    @include icon-color('red', $red);
    @include icon-color('white', $white);
};