@import '../../../../utils/utils';

.label {
  position: absolute;
  left: -108px;
  top: 20px;
  pointer-events: none;
  font-size: 1rem;
  transition: all 0.2s ease;
  color: $gray;
}

.label--focused {
  top: 8px;
  font-size: 0.75rem;
}
