@import '/src/utils/utils';

.songtitle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36.25rem;

  .song-info {
    display: flex;
    flex-direction: column;
    width: 65%;

    span {
      padding: 0.25rem;
    }
  }

  button {
    height: 1.5rem;
    width: 10%;
  }
}
