@import '/src/utils/utils';

.cart-modal {
  position: absolute;
  z-index: 3;
  top: 0%;
  right: 0%;
  width: 40%;
  min-width: #{300 / $font-size}rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid $light-gray;

  .cart-body-wrapper {
    flex: 1;
  }
}
