@import '/src/utils/utils';

.backdrop {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.242);
  .cart-modal {
    background-color: $white;
    position: absolute;
    z-index: 4;
    top: 0%;
    right: 0%;
    width: 40%;
    min-width: #{300 / $font-size}rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cart-body-wrapper {
      flex: 1;
    }
  }
}
