@import '/src/utils/utils';

.usermenu-wrapper {
    max-width: #{280/$font-size}rem;
    min-width: #{280/$font-size}rem;

    ul {
        li {
            padding: 10px 1rem;
            border-bottom: 1px solid $light-gray;

            &:last-child {
                border: none;
            }

            button span:first-child {
                padding-right: 10px;
            }
        }
    }
}