@import '../../../../utils/utils';

.userAuthInput__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .userAuthInput__input {
    height: 3.5rem;
    position: relative;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
  }

  .userAuthInput__icon {
    position: absolute;
    z-index: 1;
    top: 14px;
    left: -152px;
  }
}

.userAuthInput__invalid {
  width: 100%;
  display: flex;
  position: relative;
  line-height: 1.25rem;
  pointer-events: none;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  justify-content: center;
}
