@import '/src/utils/utils';

.buttons {
  display: flex;
  margin-bottom: 2rem;
  width: 40rem;
  justify-content: space-between;
}
.text {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.h2 {
  margin-bottom: 2rem;

  &.editmode {
    span {
      color: $gray;
    }
  }
}
