@import '/src/utils/utils';

.instrument-lists{
    width: 100%;
    max-width: #{1220/$font-size}rem;
    display: flex;
    flex-wrap: wrap;

    .instrument-list{
        flex-basis: 25%;
        padding: 0 1rem 2rem;
    }
}
