.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;

  .file-name {
    width: 100%;
    line-clamp: 1;
  }

  .uploaded {
    margin-top: 2rem;
    .box {
      border-radius: 10px;
      border: 2px solid black;
    }
  }

  .upload {
    border: 2px dashed red;
    width: 100%;
    height: 20rem;
    border: 2px dashed #d9d9d9;
    border-radius: 20px;
    .upload-element {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem;
      padding-top: 3rem;
      .icon {
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .btn {
      }
    }
  }
}
