@import '/src/utils/utils';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  height: 100%;

  .uploaded {
    margin-top: 2rem;
    width: 100%;

    .box {
      margin-top: 1rem;
      width: 100%;
      height: 4rem;
      border-radius: 10px;
      border: 1px solid #d9d9d9;
      padding: 1rem;

      .file-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        >span:first-child {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-right: 10px;
        }
      }

      &.loading {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        
        .loading-spinner {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
      }
    }

    .upload-info {
      display: flex;
      align-items: center;
      margin-top: 10px;

      >span:last-child {
        padding-left: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .upload {
    width: 100%;
    padding: 4rem 0;
    border: 2px dashed #d9d9d9;
    border-radius: 20px;
    display: flex;

    .upload-element {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }
  }
}