@import '/src/utils/utils';

.category-cover {
  display: flex;
  max-width: #{1220 / $font-size}rem;
  width: 100%;
  height: 100%;

  .user-info {
    flex: 1;
    padding: 10px 0 1rem 3rem;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top {
        display: flex;
        flex-direction: column;
        .username {
          display: flex;
          align-items: center;
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        .cash {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .cover-info {
    flex: 1;
    padding: 10px 0 1rem 3rem;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      li {
        width: 100%;

        &.info-title {
          flex: 1;
          padding-top: 2.5rem;
        }

        span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-all;
        }
      }
    }
  }
}
